#picture_div /*页面照片排版*/
{
    width:90%;
    height:0;
    background-color: #CCC;
    left: 50%;
    top: 10px;
    position: relative;
    float: left;
    transform: translate(-50%,0%);
    margin-top:20px;
    margin-bottom:40px;
    padding-bottom: calc(9/ 16 * 100%);
}
#pictureindiv
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height:100%;
    width: 100%;
    object-fit: cover;
}

/*用于设计相册页面的排版。共三列，分别为左中右*/
#album_left
{
    width:33%;
    height:auto;
    background-color: rgba(0, 0, 255, 0.1);
    left:0px;
    top:0px;
    position:relative;
    float:left;
    text-align: center;
    border-radius:5px;
    padding-top: 20px;
    padding-bottom: 30px;
}

#album_center
{
    width:33%;
    height:auto;
    background-color: rgb(34, 255, 0,0.1);
    left:0px;
    top:0px;
    position:relative;
    float:left;
    text-align: center;
    border-radius:5px;
    padding-top: 20px;
    padding-bottom: 30px;
}

#album_right
{
    width:33%;
    height:auto;
    background-color: rgb(255, 132, 0,0.1);
    left:0px;
    top:0px;
    position:relative;
    float:left;
    text-align: center;
    border-radius:5px;
    padding-top: 20px;
    padding-bottom: 30px;
}

/*弹出窗口*/
#popupcontent
{
    position: fixed;
    overflow: hidden;
    border: 1px solid #CCC;
    background-color: #f9f9f9;
    padding: 5px;
    visibility: hidden;
    height:80%;
    width:60%;
    border-radius: 20px;
    left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
    z-index: 15;
    padding-bottom: 20px;
}

#blur_background
{
    position: fixed;
    background-color: rgba(255, 255, 255, 0.429);
    height:100%;
    width:100%;
    left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
    z-index: 14;
    visibility: hidden;
}

#pop_text
{
    float:right;
    width:38%;
    overflow: auto;
    margin:0px;
}

#pop_image
{
    float:left;
    width:60%;
    height:auto;
    margin:0px;
    overflow:auto;
}

#pop_image_content
{
    position: relative;
    width:100%;
    left:50%;
	top: 50%;
	transform: translate(-50%,-50%);
    max-width: 100%;
    max-height: 100%;
}

#pop_text_content
{
    font-size: 20px;
}

#hidden_information
{
    font-size: 5px;
    color:rgb(230, 139, 139);
    text-align: right;
    float: right;
    margin-right: 20px;
    transform: translate(0px,-8px);
}